<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>
<a href="celebrities/create">create celebrity</a>
<a href="/celebrities">celebrities</a>
<a href="movies/create">create a movie</a>
<a href="/movies">movies</a>